@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

html, body {
    font-family: 'Urbanist', sans-serif;
    max-width: 100%;    
    scroll-behavior: smooth;
}




nav {
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0,0,0, 25%);
    position: fixed;
    top: 0;
    z-index: 29;
}

@media only screen and (max-width:800px) {



    nav {
        height:90px;

    }

    nav .nav-logo img {
        width: 225px;
        height: 215px;
        position: relative;
        top: -65px;
        right: 100px;
    }

    nav a.iconer i#icon {
        font-size: 42px;
        color: black;
        position: relative;
        top: -62px;
        left: 15px;
    }

    div#close {
        font-size: 32px;
        color: black;
        position: relative;
        left: 30px;
        cursor: pointer;
    }
    
}

@media only screen and (max-width:350px) {



    nav {
        height:90px;

    }

    nav .nav-logo img {
        width: 165px;
        height: 165px;
        position: relative;
        top: -35px;
        right: 130px;
    }

    nav a.iconer i#icon {
        font-size: 32px;
        color: black;
        position: relative;
        top: -35px;
    }

    div#sidebar div#close {
        font-size: 33px;
        color: black;
        position: relative;
        left: 250px;
        cursor: pointer;
    }
}

    

@media (min-width: 360px) and (max-width:430px) {



    nav {
        height:90px;

    }

    nav .nav-logo img {
        width: 165px;
        height: 165px;
        position: relative;
        top: -35px;
        right: 130px;
    }

    nav a.iconer i#icon {
        font-size: 32px;
        color: black;
        position: relative;
        top: -35px;
        left: 55px;
    }

    div#sidebar div#close {
        font-size: 33px;
        color: black;
        position: relative;
        left: 320px;
        cursor: pointer;
    }
}

nav .container {
    width: 80%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo img {
    width: 135px;
    height: 125px;
    position: relative;
    top: -25px;
    right: 60px;
}

 .nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 2px;
    position: relative;
    top: -25px;
}

nav .item {
    text-align: center;
    margin: 25px;
    font-size: 14px;
    color: #102447;
    padding: 5px 0;
    transition: all .1s ease;
}

nav .nav-items .item:hover {
    transform: scale(1.10);
    transition: 0.4s;
}

nav .nav-items .item:hover a {
    color: rgba(1, 51, 331, 0.7);
}

nav .nav-items .activeOne {
    transform: scale(1.10);
    color: rgba(1, 51, 331, 0.7);
}

div.nav-items div.item a {
    text-decoration: none;
    color: currentColor;
    letter-spacing: 2px;
    
}

div.nav-items div.item a:hover {
    color: rgba(1, 51, 331, 0.7);
    /*border-top: 1.5px solid rgba(1, 51, 331, 0.6);*/
}

div.nav-items div.item a.contactUs {
    padding: 11px;
    color: #fff;
}

div.nav-items div.item:hover a.contactUs {
    background-color: #000;
    border: none;
    color: #fff;
} 

div.offcanvas-header {
    border-bottom: 2px solid rgba(200,200,200,0.1);
}

div.offcanvas-body .nav-items1 .item {
    width: 363px;
    margin: 40px auto;
    padding: 20px;
    padding-right: 70px; 
}

div.offcanvas-body .nav-items1 .activeOne {
    transform: scale(1.10);
    border-bottom: 2px solid rgba(200,200,200,0.1);
    border-top: 2px solid rgba(200,200,200,0.1);
    border-left: 4px solid rgba(1, 51, 331, 0.7); 
    color: rgba(1, 51, 331, 0.7);
    background-color: rgba(255,255,255,0.7);
}

div.offcanvas-body .nav-items1 .activeOne a {
    text-decoration: none;
    color: rgba(1, 51, 331, 0.7);
    letter-spacing: 2px;
}

div.offcanvas-body .nav-items1 .activeTwo:hover {
    transform: scale(1.10);
    transition: 0.1s;
    background-color: rgba(255,255,255,0.7);
    border-bottom: 2px solid rgba(200,200,200,0.1);
    border-top: 2px solid rgba(200,200,200,0.1);
    border-left: 4px solid rgba(1, 51, 331, 0.7); 
}

div.offcanvas-body .nav-items1 .activeTwo a {
    color: currentColor;
    text-decoration: none;
    letter-spacing: 2px;
}

div.offcanvas-body .nav-items1 .activeTwo:hover a {
    color: rgba(1, 51, 331, 0.7);
}

div.offcanvas-body .nav-items1 .contactUs {
    border: none;
    color: #fff;
}

div.offcanvas-body .nav-items1 .contactUs:hover {
    border: none;
    color: #fff;
}

div.offcanvas-body .nav-items1 .contactUs a {
    border: none;
    color: #fff;
    padding: 11px;
}

div.offcanvas-body .nav-items1 .contactUs a:hover {
    border: none;
    color: #fff;
    background: #000;
    transform: scale(1.10);
}

/*a.iconer {
    text-decoration: none;
    position: relative;
    color: black;
    top: -25px;
    right: 25px;
    
}
*/
a.iconer i#icon {
    font-size: 22px;
    color: black;
    position: relative;
    top: -25px;
    left: 15px;
}

div#close {
    font-size: 43px;
    color: black;
    position: relative;
    left: 320px;
    cursor: pointer;
}

div#hero-carousel {
    margin-top: 66px; 
}
/* Tablet and ipads
@media(min-width:700px) and (max-width:770px) {
    div#hero-carousel {
        width: 150%; 
    }

    div#hero-carousel div.c-item div.text-carousel {
       margin-top: 245px;
       display: flex;
       text-align: center;
       justify-content: center;
       flex-direction: column;
       align-items: center;

    }
}

@media(max-width:699px) {
    div#hero-carousel {
        width: 350%; 
    }


}
*/
.c-item {
    height: 101vh;
}

.c-img {
    height: 100%;
    filter: brightness(0.9); 
}

.one {
    background:  linear-gradient(rgba(1, 41, 131, 0.6), rgba(3, 41, 141, 0.7)), url("sup.jpeg.jpg") no-repeat  center center/ cover;
}

.two {
    background:  linear-gradient(rgba(1, 41, 131, 0.6), rgba(3, 41, 141, 0.7)), url("close-up-hands-holding-hardware-components.jpg") no-repeat center top/cover;
}

.three {
    background:  linear-gradient(rgba(1, 41, 131, 0.6), rgba(3, 41, 141, 0.7)), url("jungle.jpg") no-repeat center top/cover;
}

@media(min-width: 768px) {
    .text-carousel {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 200px;
    }
}
.text-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.text-carousel h5 {
    font-size: 30px;
    color: rgba(255,255,255,0.65);
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.text-carousel p {
    font-size: 14px;
    font-weight: 100;
    color: rgba(255,255,255,0.65);
    font-family: 'Urbanist', sans-serif;
}

.text-carousel div a .fa-angle-down {
    font-size: 40px;
    color: rgba(255,255,255,0.60);
    margin: 100px auto 0;
   /* animation: animate 3s ease infinite;*/
}

/*@keyframes animate {
    0% {
         opacity: 0;
    }
    
    50% {
        opacity: 0.5;
    }
    
    100% {
        opacity: 1;
    }
}*/

.text-carousel p.para {
    font-size: 29px;
    color: rgba(255,255,255,0.67);
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

div.scrollUp{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /*opacity: 0;*/
    cursor: pointer;
    transition: .5s;
    position: fixed;
    bottom: 16px;
    right: 32px;
    height: 60px;
    width: 60px;
    background-color: #0d6efd;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 28;
}

div.scrollUp i {
    font-size: 30px;
    color: #fff;
}

div.scrollUp:hover {
    background-color: #000;
}

div.scrollUp i:hover {
    color: #fff;
}
/*
a.scrollUp.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    transform: translateY(-55px;)
}*/

div.company {
    width: 100%;
    margin: 0 auto;
    margin-top: 500px;
    margin-bottom: 295px;
}



@media(max-width: 350px) {
    div.company {
        max-width: 100%;
    }
    div.company div.about {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div.company div.about .about-image {
        width: 300px;
        height: 250px;
    }
}

@media(min-width: 360px) and (max-width: 430px) {
    div.company {
        max-width: 100%;
    }
    div.company div.about {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div.company div.about .about-image {
        width: 300px;
        height: 250px;
    }
}

div.about {
    display: flex;
    justify-content: space-around;
}

div.about .about-image {
    width: 500px;
    height: 490px;
    background: radial-gradient(rgba(11, 1, 11, 0.5), rgba(11, 11, 11, 0.8)), url("happy.jpg") no-repeat center center/cover;
    border-radius: 4px;
    margin-bottom: 70px;
}

div.about .about-text h4 {
    margin-bottom: 50px;
    letter-spacing: 2px;
    font-size: 30px;
    text-decoration: 3px underline rgba(1, 51, 331, 0.7);
    font-family: 'Urbanist', sans-serif;
}

div.about .about-text p {
    width: 80%;
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    letter-spacing: 0.5px;
}

div.about .about-text p.about-para1 {
    margin-bottom: 31px;
}

div.about .about-text p.about-para2 {
    margin-bottom: 30px;
}

div.about .about-text a {
    padding: 10px;
    letter-spacing: 1px;
}

div.about .about-text a:hover {
    background-color: #000;
    border: none;
    transform: scale(1.10);
}


div.service {
    width: 100%;
    margin-bottom: 150px;
}

div.service h4 span {
    text-align: center;
    letter-spacing: 2px;
    text-decoration: 3px underline rgba(1, 51, 331, 0.7);
    font-size: 30px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
}

div.service h4 {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 320px;
}


div.service .outer-service {
    flex-wrap: wrap;
    flex-grow: 2px;
    margin-bottom: 0px;
}

div.service a {
    margin: 0 auto;
}

div.service a .inner-service {
    position: relative;
    margin: 0px auto 200px;
    flex-wrap: wrap;
}

div.service a .inner-service .service-image {
    width: 350px;
    height: 400px;
    background: radial-gradient(rgba(2, 1, 1, 0.5), rgba(2, 1, 1, 1)), url("man-electrical-technician-working-switchboard-with-fuses.jpg");
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

@media(max-width: 350px) {
    div.service div.outer-service a div.inner-service div.service-image {
        width: 250px;
        height: 300px;
    }

    div.service a .inner-service {
        position: relative;
        margin: 0px auto 200px;
    }

    div.service div.outer-service a .inner-service .service-text {
        position: absolute;
        top: 150px;
        left: 125px;
        transform: translate(-50%, -50%);
        color: rgba(223,223,223,0.7);
    }

    div.service div.outer-service a .inner-service .service-text h3 {
        font-size: 18px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 600;
    }
    
    div.service .outer-service a .inner-service .service-text p {
        font-size: 10px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 300;
        display: none;
    }
}

@media(min-width: 360px) and (max-width: 430px) {
    div.service div.outer-service a div.inner-service div.service-image {
        width: 250px;
        height: 300px;
    }

    div.service a .inner-service {
        position: relative;
        margin: 0px auto 200px;
    }

    div.service div.outer-service a .inner-service .service-text {
        position: absolute;
        top: 150px;
        left: 125px;
        transform: translate(-50%, -50%);
        color: rgba(223,223,223,0.7);
    }

    div.service div.outer-service a .inner-service .service-text h3 {
        font-size: 18px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 600;
    }
    
    div.service .outer-service a .inner-service .service-text p {
        font-size: 10px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 300;
        display: none;
    }
}


div.service a .inner-service .one {
    background: radial-gradient(rgba(9, 9, 9, 0.6), rgba(9, 9, 9, 0.65)), url("man-electrical-technician-working-switchboard-with-fuses.jpg") no-repeat center center/cover;
}

div.service a .inner-service .two {
    background: radial-gradient(rgba(9, 9, 9, 0.6), rgba(9, 9, 9, 0.65)), url("worker-is-cutting-wires-with-linemans-pliers.jpg") no-repeat center center/cover;
}


div.service a .inner-service .three {
    background: radial-gradient(rgba(9, 9, 9, 0.6), rgba(9, 9, 9, 0.65)), url("man-with-white-helmet-near-solar-panel.jpg") no-repeat center center/cover;
}

div.service a .inner-service .four {
    background: radial-gradient(rgba(9, 9, 9, 0.6), rgba(9, 9, 9, 0.65)), url("download.jpg") no-repeat center center/cover;
}

div.service a .inner-service .five {
    background: radial-gradient(rgba(9, 9, 9, 0.6), rgba(9, 9, 9, 0.65)), url("auditing.jpg") no-repeat center center/cover;
}

div.service a .inner-service .six {
    background: radial-gradient(rgba(9, 9, 9, 0.6), rgba(9, 9, 9, 0.65)), url("expert-looks-online-new-air-filters.jpg") no-repeat center center/cover;
}




div.service .outer-service a .inner-service .service-text {
    position: absolute;
    top: 200px;
    left: 175px;
    transform: translate(-50%, -50%);
    color: rgba(223,223,223,0.7);
}

div.service .outer-service a .inner-service .service-text h3 {
    font-size: 25px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
}

div.service .outer-service a .inner-service .service-text p {
    font-size: 15px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    display: none;
}

div.service a .inner-service:hover {
    transform: scale(1.09);
    transition: .5s;
}

div.service a .inner-service .service-image .service-cover {
    width: 350px;
    height: 400px;
}

div.service a .inner-service:hover .service-image .service-cover {
    background: radial-gradient(rgba(3, 1, 1, 0.5), rgba(3, 1, 1, 0.5));
    border-radius: 5px;
}

div.service a .inner-service:hover .service-text h3 {
    color: rgba(250,250,250,0.95);
    cursor: pointer;
}

div.service .outer-service a .inner-service:hover .service-text p {
    display: inline;
    color: rgba(1, 51, 331, 0.7);
    cursor: pointer;
}

div.contact {
    width: 100%;
    margin-bottom: 200px;
}

div.contact h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 200;
}

div.contact h4 span {
    font-size: 30px;
    font-weight: 500;
    text-decoration: 3px underline rgba(1, 51, 331, 0.7);
}

div.contact div.outer-contact {
    margin-top: 220px;
}

/*iv.contact div.outer-contact .inner-contact .contact-item {

}*/

div.contact div.outer-contact .inner-contact .contact-item i {
    width: 100%;
    font-size: 45px;
    text-align: center;
    margin: 105px 0 45px;
    color: #0d6efd;
    position: relative;
}

div.contact div.outer-contact .inner-contact .contact-item p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 178px;
}

div.gallery {
    width: 100%;
    margin-bottom: 0px;
}

div.gallery {
    height: 70vh;
    background: linear-gradient(rgba(1, 41, 131, 0.6),
     rgba(3, 41, 141, 0.7)), url("shake.jpg") no-repeat fixed center top/cover; 
    padding: 20px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

@media(max-width: 350px) {
    div.gallery {
        max-width: 100%;
        height: 90vh;
    }
}

div.gallery .inner-gallery h4 {
    font-size: 30px;
    text-align: center;
    color: rgba(255,255,255,0.65);
    letter-spacing: 2px;
    margin-top: 50px;
}

div.gallery .inner-gallery .gallery-contact {
    width: 100%;
    margin-top: 60px;
    margin: 0 auto;
}
div.gallery .inner-gallery .gallery-contact p.gag {
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    color: rgba(255,255,255,0.65);
    margin-top: 40px;
}

div.gallery .inner-gallery .gallery-contact p {
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    color: rgba(255,255,255,0.65);
}

div.gallery .inner-gallery .gallery-contact p a {
    margin: 60px auto;
    padding: 10px;
    text-align: center;
}

div.gallery .inner-gallery .gallery-contact p a:hover {
    transform: scale(1.09);
    transition: .5s;
    border: none;
}

div.gallery .inner-gallery .gallery-contact p a:hover {
    background-color: #000;
}

footer {
    width: 100%;
    height: 101vh;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 3px 0px 8px rgba(0,0,0, 25%);
    border-radius: 4px;
}

@media(max-width:350px) {
    footer {
        height: 101vh;
    }
}

footer .outer-footer {
    text-align: center;
    padding-top: 60px;
    margin-top: 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

footer .outer-footer .inner-footer {
    margin-top: 65px;
}

footer .outer-footer .inner-footer li {
    list-style: none;
}

footer .outer-footer .inner-footer li a {
    margin-top: 60px;
    margin-bottom: 70px;
    text-decoration: none;
}

footer .outer-footer .inner-footer li a:hover {
    text-decoration: underline;
}

div.follow-link {
    margin-top: 80px;
}

div.follow-link p {
    margin-top: 95px;
    margin-bottom: 35px;
}

div.follow-link ul {
    justify-content: center;
}

div.follow-link ul li {
    list-style: none;
    margin: 0 40px;
}

@media(max-width:350px) {
    footer div.outer-footer div.follow-link ul li {
        list-style: none;
        margin: 0 15px;
    }
}

div.follow-link ul li a {
    color: rgba(1, 51, 331, 0.7);
}


div.follow-link ul li a i {
    font-size: 30px;
    color: currentColor;
}

div.follow-link ul li a i:hover {
    border: 2px solid rgba(200,200,200,0.1);
    border-radius: 5px;
    padding: 4px;
    transform: scaleX(1.08);
}

footer p {
    text-align: center;
    margin-top: 120px;
}
